<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitação de Serviços gerais</title>
    <link rel="stylesheet" href="../public/css/style.css">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline'">
</head>

<body>
    <div class="images">
        <button class="funcButton" alt="funcionarios" title="Cadastrar funcionário"
        onclick="employee()">
            <img src="../public/img/funcionario.png" >
            <p>Cadastrar Funcionário</p>
        </button>
        <button class="OSButton" alt="Ordem de serviço" title="Solicitar O.S" id="OSicon"
        onclick="service()">
            <img src="../public/img/pedido.png">
            <p>Ordem de Serviço</p>
        </button>
        <img id="logo" src="../public/img/logo.png" alt="logo">
    </div>
    <footer>
        <p id="currentlyData"></p>
        <img id="statusdb" src="../public/img/dboff.png" alt="teste imagem">
    </footer>
</body>

<script src="renderer.js"></script>

</html>