<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitação de Serviços gerais</title>
    <link rel="stylesheet" href="../public/css/style.css">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline'">
</head>

<body>
    <div class="images">
        <img src="../public/img/clientes.png" alt="clientes" title="Cadastro de clientes" onclick="client()">
        <img src="../public/img/pedido.png" alt="OSicon" id="OSicon">
    </div>
    <footer>
        <p id="dataAtual"></p>
        <img src="../public/img/database.png" alt="ícone banco de dados" id="iconDB">
    </footer>
</body>

<script src="renderer.js"></script>

</html>